body {
    background-color: white;
    color: black;
    font-family: Arial, sans-serif;
    font-size:large;
    transition: all 0.3s ease;
}

main{
    padding: 50px;
}
a {
    color: black;
    text-decoration: none;
}
a:hover {
    opacity: 50%;
}
a img:hover {
    color: light#0056b3; /* Couleur au survol */
    opacity: 50%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items:center; /* Pour centrer verticalement les éléments */
    padding: 5px; /* Ajoute un espacement autour du header */
    background: #6294ff;
    position: fixed; /* Fixer le header en haut de la page */
    top: 0; /* Positionner le header en haut */
    left: 0; /* Positionner le header à gauche */
    width: 100%; /* Largeur pleine */
    z-index: 1000; /* S'assurer que le header est au-dessus de tout le reste */
}
   
.logo img {
    max-width: 80px; /*Ajuste la taille du logo si nécessaire */
} 

.menu ul {
    list-style: none; /* Supprime les puces de la liste */
    padding: 0;
    margin: 0;
}
.menu ul li {
    display: inline; /* Affiche les éléments de menu en ligne */
    margin-right: 20px; /* Espacement entre les éléments de menu */
}

.portfolio-section {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centre les éléments horizontalement */
    justify-content: center ; /* Centre les éléments verticalement */
    text-align:justify ; /* Centre le texte horizontalement */
    padding-top: 40px; /* Ajoute un espacement autour de la section */
}
.mon-avatar {
    width: 200px; /* Ajuste la taille de l'image de l'avatar */
    height: 200px;
    border-radius: 50%; /* Rend l'image circulaire */
}

h1 {
    color: #0056b3;
    font-size: 50px;
    text-align: justify;
}
h2 {
    color: #0056b3;
}
.cta a {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background-color: #007bff; /* Couleur de fond du bouton */
    color: #fff; /* Couleur du texte */
    text-decoration: none;
    border-radius: 20px; /* Coins arrondis */
}
.cta a:hover {
    background-color: #0056b3; /* Couleur de fond au survol */
}

.images-projets {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 500px ;
    gap: 15px;
}

.projet {
    display: block;
    position: relative;
}

.images-projets img {
    width: 100%;
    height: 100%;
    /* propriété pour permettre aux images de respecter les dimensions de la grid CSS */
    object-fit: cover;
}
.overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: light#0056b3; /* Noir avec une opacité de 70% */
    color: #fff;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.projet:hover .overlay {
    display: flex;
}

footer {
    background-color: #6294ff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}
.liens-footer {
    display: flex;
    justify-content: space-between;
}
.liens-droite a {
    padding-right: 20px;
}
.contact h2{
    color: black;
}

.skills {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
}
.skill-img {
    max-width: 60px;
}

form {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 600px;
    margin: auto;
    color: white;
}

.form-nom-email {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
  
.form-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

input,
textarea {
  padding: 15px;
  border-radius: 3px;
  border: none;
}

label {
  margin-bottom: 10px;
}

input[type='submit'] {
  width: 50%;
  margin: auto;
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
    form {
        width: 60%; /* Ajuste la largeur du formulaire pour les écrans de taille moyenne */
    }

    .form-nom-email {
        flex-direction: row; /* Change la direction de la mise en page en ligne sur les écrans de taille moyenne et supérieure */
    }

    .form-column {
        margin-bottom: 0; /* Supprime la marge en bas des colonnes sur les écrans de taille moyenne et supérieure */
    }

    .form-column:first-child {
        margin-right: 20px; /* Ajoute une marge à droite uniquement à la première colonne sur les écrans de taille moyenne et supérieure */
    }
}

@media (min-width: 701px) and (max-width: 1600px) {
    .skills {
        padding: 0 15vw;
    }
    .top-left,
    .bottom-right {
        width: 48%;
    }
    .top-left div,
    .bottom-right div {
        margin-bottom: 30px;
    }
    .start {
        display: flex;
        flex-direction: column;
    }
}